In [1]:
#Veri tipi Dönüşümleri
#Pythonda ve diğer çoğu programlama dilinde veritiplerinin birbirine dönüştürülmesi oldukça önemlidir. 
#Bazı zaman bir ondalıklı sayıyı tamsayıya dönüştürme, hatta ve hatta bir string'i tamsayıya dönüştürme işlemleri 
#programlarımızı yazarken büyük önem taşır.

In [2]:
#Tamsayıyı Ondalıklı Sayıya Çevirme
#Bir tamsayı değeri(integer) ondalıklı sayıya(float) çevirmek için float() fonksiyonunu kullanabiliriz.Örnekler:

In [3]:
# Çevireceğimiz sayıyı parantez içine alıyoruz.
a = 43
float(a)

43.0

In [4]:
float(-1)

-1.0

In [5]:
float(9)

9.0

In [7]:
#Ondalıklı Sayıyı Tamsayıya Çevirme
#Bir ondalıklı sayıyı tamsayıya çevirmek için int() fonksiyonunu kullanabiliriz.Sonuç, ondalıklı sayının tam kısmı 
#olarak karşımıza çıkacak.Örnekler:

In [8]:
int(4.7)

4

In [9]:
int(3.14)

3

In [10]:
int(10.3435435345345345)

10

In [11]:
a = 4
b = 2
int(a/b)

2

In [13]:
#Sayıları Stringlere Çevirme
#Bir sayıyı string'e çevirmek için str() fonksiyonunu kullanabiliriz.Sayıyı oluşturan tüm rakamlar veya noktalar 
#birer karaktere dönüşecek.

In [14]:
a = 32324324
b = str(a)
b

'32324324'

In [15]:
len(b)

8

In [16]:
t = 3.14343
y = str(t)
y

'3.14343'

In [17]:
#Stringleri Tamsayıya Çevirme
#Bir string'i bir tamsayıya çevirmek istediğimiz zaman int() fonksiyonunu kullanabiliriz. Ancak biraz dikkatli olmamızda 
#fayda var. Dönüştürme işlemini yaparken stringin herbir karakterinin bir rakam olduğundan emin olmalıyız. Örnekler:

In [18]:
# Doğru
a = "32434324324234"
b = int(a)
b

32434324324234

In [19]:
# Hatalı - Her bir karakterin 10'luk tabanda olması gerekli.
a = "dasdasd343435"
b = int(a)
b

ValueError: invalid literal for int() with base 10: 'dasdasd343435'

In [20]:
#Stringleri Ondalıklı Sayıya Çevirme
#Bir string'i bir ondalıklı sayıya çevirmek istediğimiz zaman float() fonksiyonunu kullanabiliriz. Ancak biraz dikkatli 
#olmamızda fayda var. Dönüştürme işlemini yaparken stringin ondalıklı sayı formatına uygun olduğundan emin olmalıyız.Örnekler:

In [21]:
# Doğru Kod
a = "3.1444545"
b = float(a)
b

3.1444545

In [22]:
# Hatalı Kod
a = "3.14.324324"
b = float(a)
b

ValueError: could not convert string to float: '3.14.324324'